.git
.venv
.vs
.env
**/__pycache__
**/.pytest_cache
frontend/node_modules
frontend/dist
frontend/coverage
clients/typescript/node_modules

.env.*
!.env.example
.github
**/*.egg-info
**/.mypy_cache
**/.ruff_cache
clients/typescript/dist
clients/typescript/coverage
**/node_modules
*.log
